:root {
  --primary-color-800: #cc8d1a;
  --secondary-color-800: #164c45;
  --background-color: #f4f4f4;

  --primary-font-color: #242424;
  --primary-font-color-inverse: #e2e2e2;

  --gap-normal: 16px;
  --box-shadow: 3px 0 10px 1px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--background-color);

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 var(--gap-normal);
  background-color: var(--primary-color-800);
  box-shadow: var(--box-shadow);
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  padding: var(--gap-normal);
}

.content > .search-bar {
  align-self: center;

  display: flex;
  align-items: center;

  width: 70vw;
  min-width: 300px;
  max-width: 90vw;

  padding: var(--gap-normal);
  border-radius: 32px;

  background-color: color-mix(
    in oklab,
    var(--primary-color-800) 80%,
    transparent
  );
  box-shadow: var(--box-shadow);
}

.content > .search-bar > form > .actions {
  display: flex;
  gap: var(--gap-normal);
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-normal);
}

form input {
  --size: 32px;

  height: var(--size);
  line-height: var(--size);
  border: 1px solid var(--primary-color-800);
  border-radius: 4px;
  padding: 0 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

#city {
  flex: 3 1 auto;
}

#city input {
  width: 100%;
}

.horizontal-spacer {
  flex: 1;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  background: none;
  background-color: var(--secondary-color-800);
  color: var(--primary-font-color-inverse);
  border-radius: 8px;
  padding: 8px 16px;
  border: 0;
}

button:hover {
  background-color: var(--primary-font-color);
}

button:focus {
  background-color: var(--primary-color-800);
  color: var(--primary-font-color);
}

.weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-normal);
  padding: var(--gap-normal);
}

.weather-container > .weather-card {
  width: 350px;
  height: 400px;
  text-align: center;
  border: 2px solid var(--primary-color-800);
  border-radius: 24px;
  padding: var(--gap-normal);
  background-color: var(--secondary-color-800);
  color: var(--primary-font-color-inverse);
  box-shadow: var(--box-shadow);
}

.weather-card > p {
  font-size: 48px;
}
