:root {
    --bar-height: 50px;
    --primary-color: #a3cdd9;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--primary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: var(--bar-height);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > li {
    margin-right: 16px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: var(--bar-height); */
    /* height: calc(100vh - (var(--bar-height) * 2)); */
    overflow-x: auto;
}

.card {
    width: 28vw;
    min-width: 250px;
    border: 1px solid #e2e2e2;
    margin: 0.6rem;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.card > img {
    width: 100%;
}

.footer {
    background-color: var(--primary-color);
    height: var(--bar-height);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
}

button {
    background-color: #506ad4;
    color: #FFF;
    border: transparent;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
}